<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main/java/dao/BoardDAO">

	<insert id="write" parameterType="com.smhrd.entity.Board">
		insert into T_project
		values(prj_seq.nextval,#{t_id},#{prj_category},#{prj_name},#{post},'모집중',#{deadline_dt},#{start_dt},#{end_dt},#{recruit_count},0,null,sysdate,null)
	</insert>

	<select id="list" resultType="com.smhrd.entity.Board">
		SELECT *
		FROM (
		SELECT t.*, TO_CHAR(t.post_dt, 'YYYY-MM-DD') AS format_post_dt
		FROM T_project t
		ORDER BY t.post_dt DESC
		)
		WHERE ROWNUM &lt;= 10
	</select>

	<select id="searchPost" resultType="com.smhrd.entity.Board">
		<choose>
			<when test="prj_category == '모두'">
				select * from t_project order by post_dt
			</when>
			<otherwise>
				select * from t_project
				<where>
					<if test="prj_category != null and !prj_category.equals('')">
						prj_category = #{prj_category}
					</if>
					<if test="prj_name != null and !prj_name.equals('')">
						<if test="prj_category != null and !prj_category.equals('')">
							and
						</if>
						prj_name like '%' || #{prj_name} || '%'
					</if>
				</where>
			</otherwise>
		</choose>
	</select>

	<select id="viewPostContent" resultType="com.smhrd.entity.Board"
		parameterType="com.smhrd.entity.Board">
		select *
		from T_PROJECT
		where prj_seq = #{prj_seq}
	</select>



	<update id="updatePost" parameterType="com.smhrd.entity.Board">
		update t_project
		set
		prj_category = #{prj_category},
		prj_name = #{prj_name},
		status =
		#{status},
		deadline_dt = #{deadline_dt},
		start_dt = #{start_dt},
		end_dt =
		#{end_dt},
		recruit_count = #{recruit_count},
		post = #{post}
		where prj_seq
		= #{prj_seq}
	</update>

	<delete id="deletePost" parameterType="com.smhrd.entity.Board">
		delete from t_project
		where prj_seq=#{prj_seq}
	</delete>

	<select id="getBoardCount" resultType="java.lang.Integer">
		SELECT count(*) FROM
		T_project
	</select>

	<select id="ListPage" resultType="com.smhrd.entity.Board"
		parameterType="com.smhrd.entity.Board">
		SELECT *
		FROM (
		SELECT rownum AS rn, p.*
		FROM (
		SELECT *
		FROM t_project
		ORDER BY post_dt DESC
		) p
		) sub
		WHERE sub.rn >= (${prj_seq}
		- 1) * 10 + 1
		AND sub.rn &lt;= ${prj_seq} * 10
		ORDER BY sub.rn
	</select>


</mapper>