<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com/smhrd/dao/joinMapper">
<insert id="joinParty" parameterType="com.smhrd.entity.JoinParty">
insert into t_participant values (p_seq.nextval,#{prj_seq},#{t_id},null,null)
</insert>

<select id="joinList" resultType="com.smhrd.entity.JoinParty" parameterType="com.smhrd.entity.JoinParty">
select * from t_participant where prj_seq=#{prj_seq}
</select>

<update id="joinOk" parameterType ="com.smhrd.entity.JoinParty">
update t_participant
set join_ok='참가수락'
where p_seq=#{p_seq} and prj_seq=#{prj_seq} and t_id=#{t_id}
</update>

<update id="joinNo" parameterType="com.smhrd.entity.JoinParty">
update t_participant
set join_ok='참가거절'
where p_seq=#{p_seq} and prj_seq=#{prj_seq} and t_id=#{t_id}
</update>

<update id="joinCount" parameterType="com.smhrd.entity.JoinParty">
update t_project
set join_count = join_count + 1
where prj_seq = #{prj_seq}
and exists (
select 1
from t_participant
where prj_seq = #{prj_seq}
and t_id = #{t_id}
and join_ok = '참가신청'
</update>

</mapper>