<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com/smhrd/dao/joinMapper">
<insert id="joinParty" parameterType="com.smhrd.entity.JoinParty">
insert into t_participant values (p_seq.nextval,#{prj_seq},#{t_id},null)
</insert>
</mapper>