<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="/com/smhrd/dao/db.properties"></properties>
	<!-- <property name="driver value".." ==>${driver} -->

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="/com/smhrd/dao/BoardMapper.xml" />
		<mapper resource="/com/smhrd/dao/UserMapper.xml" />
		<mapper resource="/com/smhrd/dao/ProjectManageMapper.xml" />
		<mapper resource="/com/smhrd/dao/ReplyMapper.xml"/>
		<mapper resource="/com/smhrd/dao/JoinPartyMapper.xml"/>
		<mapper resource="/com/smhrd/dao/MessageMapper.xml"/>
		<mapper resource="/com/smhrd/dao/EvaluationMapper.xml"/>
	</mappers>
</configuration>