<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com/smhrd/dao/ReplyDAO">

<insert id="uploadReply" parameterType="com.smhrd.entity.Reply">
insert into reply values(reply_seq.nextval, #{t_id}, #{prj_seq},#{reply_comment},null,null,sysdate)
</insert>

<select id="viewReply" resultType="com.smhrd.entity.Reply">
select * from reply where prj_seq=#{prj_seq}
</select>
</mapper>