<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main/java/dao/UserDAO">
	<select id="login" resultType='com.smhrd.entity.User'
		parameterType="com.smhrd.entity.User">
		select * from T_PERSONAL_INFO
		where t_id=#{t_id}
		and pw=#{pw}
	</select>

	<insert id="join">
		insert into t_personal_info values(
		#{t_id},#{pw},#{nickname},sysdate,'n',null,null,#{email} )
	</insert>

	<select id="searchInfo" resultType="com.smhrd.entity.User">
		select * from t_personal_info where t_id =#{t_id} and email=#{email}
	</select>

	<update id="profileUpdate" parameterType="com.smhrd.entity.User">
		update T_PERSONAL_INFO
		set pw = #{pw},
		nickname = #{nickname}, 
		self_intro = #{self_intro}
		where t_id = #{t_id}
	</update>

</mapper>