<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BoardDAO">

<insert id="write" parameterType="entity.Board">
insert into T_project
values(prj_seq.nextval,#{id},#{prj_category},#{prj_name},#{post},#{status},#{deadline_dt},#{start_dt},#{end_dt},#{recuruit_count),null,null,sysdate,null)
</insert>

<select id="list" resultType="entity.Board">
select * from T_project
select rownum as rn, A.*
from(
select *
from T_project
order by post_dt desc
)A
where rownum &lt;=20*?
)
where rn>= 20*(?-1)+1
</select>

<select id="searchPost" resultType="entity.Board" parameterType="entity.Board">
select * from T_project
select rownum as rn, A.*
from(
select *
from T_project
where 
<if test="prj_category != null AND prj_name != null">
prj_category=#{prj_category} AND post_name LIKE CONCAT('%',#{prj_name},'%')</if>
<if test="prj_category is null AND prj_name != null">
post_name LIKE CONCAT('%', #{prj_name}, '%')</if>
<if test="prj_category != null AND prj_name is null">
prj_category=#{prj_category}</if>
order by post_dt desc
)A
where rownum &lt;=20*?
)
where rn>= 20*(?-1)+1
</select>

<select id="viewPostContent" resultType="entity.Board">
select * from T_PROJECT
where prj_seq = :prj_seq.value
</select>

</mapper>