<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main/java/dao/ProjectDAO">

	<!-- 참가 신청한 프로젝트 -->
	<select id="partin" parameterType="String"
		resultType="main.java.entity.Project">
		select * from T_project where T_ID=#{t_id} and (status = '모집중' or status =
		'모집완료')

	</select>
	<!-- 진행 중인 프로젝트 -->
	<select id="ing" parameterType="String"
		resultType="main.java.entity.Project">
		select * from T_project where T_ID=#{t_id} and (status = '진행중')
	</select>
	<!-- 종료 된 프로젝트 -->
	<select id="end" parameterType="String"
		resultType="main.java.entity.Project">
		select * from T_project where T_ID=#{t_id} and (status = '종료')
	</select>




</mapper>